<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="main">
        <p>Hello</p>
        <p>Hi</p>
        <button th:text="${btnText}" class="btn btn-primary"></button>
    </div>

</body>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>